@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
* {
    box-sizing: border-box;
    
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: Quicksand, sans-serif;
    height: 100%;
}
button{
    text-transform: uppercase !important;
}
button:hover{
    background: white !important;
    color: #ff4a6e !important;
}
a:hover {
    color: #ff4a6e !important;
    text-decoration: none
}
.scroll-header {
    background: #f7f7f7 !important;
    
}

.scroll-header :nth-child(n + 2){
    color: black!important;

}
.scroll-header a:hover {
    color: #ff4a6e !important;
}
svg{
 fill: #ff4a6e;
    display: inline-block;
    vertical-align: middle;
}
.menuVisible{
right: 250px;
    transform: translateX(0);

}